<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>視訊聊天</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link href="/styles.css" rel="stylesheet" />
</head>
<body>
    <div id="video-chat-lobby" class="card">
        <h2 class="text">加入視訊聊天室</h2>
        <input id="roomName" type="text" placeholder="輸入房間名稱" />
        <button id="join">加入房間</button>
    </div>
    <div id="video-chat-room" class="hidden">
        <video id="user-video" class="video" autoplay></video>
        <video id="peer-video" class="video" autoplay></video>
    </div>
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>